<footer class="flex flex-col items-center my-5">
  <a href="/">
    <img id="footerLogo" src="/logo.png" alt="" />
  </a>
  <ul class="flex font-light mt-3">
    <li><a href="/privacidad"> Politica de privacidad</a></li>
    <li class="mx-5">
      <a href="/terminos-de-uso"> Terminos de uso</a>
    </li>
    <li><a href="/cookies">
        Politica de cookies</a></li>
  </ul>
</footer>
